
<div class="site-header__content">
  <ul class="site-header__tool left btn-group">
    <li class = "item item--ti"
    (click)="setColor('nam')"   >
      <a  [ngStyle]="{color:colorNam}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/imforProduct']"  class="parent">
        <i class="far fa-user"></i>
        <span>ĐỒNG HỒ NAM</span>
      </a>
    </li>
    <li class = "item item--ti" (click)="setColor('nu')"
      >
      <a [ngStyle]="{color:colorNu}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/imforProduct']" class="parent">
        <i class="far fa-user"></i>
        <span>ĐỒNG HỒ NỮ</span>
      </a>
    </li>
    <li class = "item item--ti" (click)="setColor('treem')"
    >
      <a [ngStyle]="{color:colorTE}"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/imforProduct']" class="parent">
        <i class="far fa-user"></i>
        <span>ĐỒNG HỒ TRẺ EM</span>
      </a>
    </li>
  </ul>
  <h1 class = "logo" [ngStyle]="{paddingTop: paddingHome + 'px'}">
    <a [routerLink]="['/']" class = "logo-index">
     <b><span style="font-family: inherit; font-size: 25px;" >THỜI THƯỢNG </span></b>
      <h6 [ngStyle]="{display: displayHome}" style="font-size: 14px;">WATCHSTORE</h6>
    </a>
  </h1>
  <ul class="site-header__tool right btn-group">
      <li class = "item item--dm dropdown" [ngStyle]="{backgroundColor: colorBackgroundTimKiem, marginTop: marginTopTK}">
        <a (click)="setColor('timkiem')" [ngStyle]="{color:colorTextTimKiem}" href="#" class="parent dropbtn" id="navbardrop" data-toggle="dropdown">
          <i class="fas fa-search" [ngStyle]="{display: displayTK1}" style="margin-bottom: 5px;"></i>
          <div class="close-container" [ngStyle]="{display: displayTK2}">
            <div class="leftright"></div>
            <div class="rightleft"></div>
          </div>
          <span>TÌM KIẾM</span>
        </a>
        <div class="dropdown-menu-tk" [ngStyle]="{display: displayTK2}">
          <div class="content">
              <input type="text" [(ngModel)]="keyword" class="input-tk" name="keyword" placeholder="Tìm kiếm...">
              <button class="icon" (click)="view3()"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </li>
    <li class = "item item--ti">
      <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/shoppingcart']" class="parent dropbtn" id="navbardrop" data-toggle="dropdown" >
        <i class="far fa-bell"></i>
        <span>GIỎ HÀNG</span>
          <!-- <img _ngcontent-nyt-c18="" width="25px" height="25px" src="assets/images/icon.gif" data-was-processed="true" class="loading" style="margin-top: -5px;"> -->
      </a>

    <li class = "item item--lh dropdown" [ngStyle]="{color: colorLH}">
      <a href="#lienhe" class="parent dropbtn" id="navbardrop" data-toggle="dropdown" (click)="setColor('lienhe')" [ngStyle]="{color: colorTextLH}">
        <i class="far fa-envelope"></i>

        <span>LIÊN HỆ</span>
      </a>
      <div class="dropdown-menu-lh" [ngStyle]="{display: displayLH2}">
        <div class="content content-lh">
          <li class = "item-lh item--datbao">
            <a href="#datbao" class="parent">
              <i class="fas fa-book-open"></i>
              <span>  ĐẶT BÁO </span>
            </a>
          </li>
          <li class = "item-lh item--quangcao">
            <a href="#quangcao" class="parent">
              <i class="fab fa-adversal"></i>
              <span> QUẢNG CÁO </span>
            </a>
          </li>
          <li class = "item-lh item--call">
            <a href="#call" class="parent">
              <i class="fas fa-phone-volume"></i>
              <span> 08008052220 </span>
            </a>
          </li>


        </div>
      </div>
    </li>
    <li class = "item item--dn">
      <a  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/dangnhap']" class="parent">
        <i class="far fa-user"></i>
        <span>ĐĂNG NHẬP</span>
      </a>
    </li>
  </ul>
</div>


